$accent: #BB4430;
$accentdark: #772b1f;
$accentlight: #dc8475;
$lightgrey: #E8E4E1;
$darkgrey: #5B5A5B;
$white: #FFFBF7;
$black: #231F20;

$page-background-color: $white;
$page-overscroll-color: $accentdark;

$text-color: $black;
$muted-text-color: $darkgrey;
$inverse-text-color: $white;

$selection: #FEEABF;
$code: #266C70;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

html {
  background: $page-overscroll-color;
  border-top: 0.5rem solid $accent;
}

body {
  background-color: $page-background-color;
  min-height: 100vh;
}

.wrapper {
  max-width: 50rem;
  margin: auto;
}

main {
  padding: 2rem;
}

::selection {
  background-color: $selection;
  color: $black;
}

.nav {
  padding: 1.5rem 2rem;
}

/* Paragraphs, Headings */

.paragraph,
.prose p,
.prose li {
  font-size: 1.25rem;
  line-height: 1.5;
}

.paragraph--lead,
.prose .paragraph--lead {
  font-size: 1.5rem;
}

.paragraph--inverse,
.heading--inverse {
  color: $inverse-text-color;
}

.prose * + * {
  margin: 1rem 0;
}

.prose h1,
.prose h2,
.prose h3 {
  margin-bottom: 1.5rem;
}

.prose h1 {
  font-size: 3rem;
}

.prose h2 {
  font-size: 1.75rem;
  margin-top: 3rem;
}

.prose h3 {
  font-size: 1.25rem;
  margin-top: 1.75rem;
}

.prose ul {
  list-style-type: circle;
}

/* Blockquotes */

.prose blockquote {
  padding: 5px 25px;
  border-left: 10px solid $accent;
  background: $lightgrey;
  hanging-punctuation: first last;
}

/* Links */

.link,
.prose a[href],
.footer__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;

  &:hover {
    text-decoration-thickness: min(3px, 0.15em);
  }
}

.link:link,
.link:visited,
.prose a[href]:link,
.prose a[href]:visited {
  color: $accent;
  text-decoration-color: $accentlight;
}

.link:hover,
.link:active,
.prose a[href]:hover,
.prose a[href]:active {
  color: $accentdark;
  text-decoration-color: inherit;
}

.link:focus,
.prose a[href]:focus {
  background-color: $black;
  outline: 5px solid $black;
  outline-offset: 0;
  color: $inverse-text-color;
  text-decoration-color: inherit;
}

.link--muted:link,
.link--muted:visited {
  color: $muted-text-color;
  text-decoration-color: inherit;
}

.link--muted:hover,
.link--muted:active {
  color: $text-color;
}

.link--muted:focus {
  color: $inverse-text-color;
}

.link--inverse:link,
.link--inverse:visited,
.link--inverse:hover,
.link--inverse:active {
  color: $inverse-text-color;
  text-decoration-color: rgba($inverse-text-color, .7);
}

.link--inverse:hover,
.link--inverse:active {
  text-decoration-color: inherit;
}

// Direct Links / Markdown Headers
.prose a[href]:link.direct-link,
.prose a[href]:visited.direct-link {
  color: inherit;
  text-decoration: none;
}

.prose a[href].direct-link:hover,
.prose a[href].direct-link:active {
  color: $accentdark;
  text-decoration: underline;
}

.prose a[href].direct-link:focus {
  color: $inverse-text-color;
  text-decoration: underline;
}

/* Images */

.prose img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5rem auto;
}

.img--border {
  border: 1px solid $lightgrey;
  box-shadow: 1px 0px 3px rgba(35, 31, 32, 0.1);
}

/* Code */

pre {
  font-size: 20px;
}

tt, code, kbd, samp {
  color: $code;
  font-size: 0.9em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

a tt, a code, a kbd, a samp {
  color: inherit;
}

/* Horizontal Rules */

.prose hr {
  border: 0;
  height: 1px;
  background: $lightgrey;
  margin: 2rem 0;
}

/* Dates */
.date {
  color: $muted-text-color;
  word-spacing: -0.5px;
}

.prose figcaption {
  color: $muted-text-color;
  text-align: center;
  margin-top: -1rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

/* Footer */

.footer {
  padding: 2rem;
  margin-top: 1rem;
  border-top: 1px solid $lightgrey;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__list-item {
  padding: 0;
  display: inline-block;
}

.footer__list-item + .footer__list-item {
  margin-left: 1rem;
}

.footer__link {
  @extend .link--muted;
}

/* Hero */

.hero {
  background-color: $accent;
  border-bottom: 0.25rem solid $accentdark;
  padding: 2rem;
  margin: 3rem -2rem;
}

/* Posts list */

.postlist {
  list-style: none;
  padding: 0;
}
.postlist__item {
  margin-bottom: 1rem;
}
.postlist__link {
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.table-of-contents {
  border: 1px solid $accent;
  padding: 1.5em;
}

.table-of-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-of-contents li:last-child {
  margin-bottom: 0;
}

.footnotes-sep {
  height: 0;
  margin: 60px 0 40px;
  border-top: 1px solid $muted-text-color;
}

.footnote-item {
  color: $muted-text-color;
}

.script-character {
  text-align: center;
  font-weight: bold;
  color: $muted-text-color;
}

.swatch {
  display: inline-block;
  vertical-align: baseline;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid $muted-text-color;
  margin: 0;
  border-radius: 1px;
}
