---
layout: base
---

<div class="hero">
  <h1 class="hero__title heading--inverse">
    Hi, I'm Ollie.
  </h1>

  <p class="paragraph paragraph--inverse paragraph--lead">I am a developer working at the <a href="https://www.gov.uk/government/organisations/government-digital-service" class="link link--inverse">Government Digital Service</a>, where I'm helping to build the <a href="https://design-system.service.gov.uk/" class="link link--inverse">GOV.UK Design System</a>.</p>
  <p class="paragraph paragraph--inverse">I'm married to <a href="http://ek-byford.com/" class="link link--inverse">Emily</a>. We have two beautiful girls, Hazel and Willow, both of whom happen to be cats.</p>
  <p class="paragraph paragraph--inverse">Sometimes I take <a href="https://www.instagram.com/thirty6degrees/" class="link link--inverse">photos</a>. Most of the time they are photos of our cats.</p>
  <p class="paragraph paragraph--inverse">I also like to travel, dabble in climbing and bouldering, and design lighting for events and amateur theatre.</p>
</div>

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}

{% if collection.posts.length > 5 %}
<p class="paragraph"><a class="link link--muted" href="{{ '/posts/' | url }}">Older posts <span aria-hidden="true">→</span></a></p>
{% endif %}
